<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.eduservice.mapper.EduCourseMapper">

    <select id="getCursePublicById" resultType="com.atguigu.eduservice.entity.vo.CoursePublishVo">
        select ec.id,ec.title,ec.cover,ec.price,ec.lesson_num as lessonNum,
    et.name as teacherName,
    es1.title as subjectLevelOne,es2.title as subjectLevelTwo
    from edu_course ec
    inner join edu_teacher et on ec.teacher_id = et.id
    inner join edu_subject es1 on ec.subject_parent_id = es1.id
    inner join edu_subject es2 on ec.subject_id = es2.id
    where ec.id = #{id}
    </select>

    <select id="getCourseVo" resultType="com.atguigu.eduservice.entity.vo.CourseWebVo">
    SELECT ec.id,ec.title,ec.price,ec.cover,
    ec.lesson_num AS lessonNum,ec.buy_count AS buyCount,
    ec.view_count AS viewCount,ecd.description,
    et.id AS teacherId,et.name AS teacherName,et.intro,et.avatar
    FROM edu_course ec
    INNER JOIN edu_course_description ecd ON ec.id=ecd.id
    INNER JOIN edu_teacher et ON ec.teacher_id=et.id
    WHERE ec.status ='Normal' AND ec.id= #{id}
    </select>
</mapper>
